{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
    {% include 'nav.html' %}

    <section class="login-page">
        <h2>Załóż konto</h2>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <ul>
                    {% for field, error_list in form.errors.items %}
                        {% for error in error_list %}
                            <li>{{ field|title }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% for message in messages %}
                <h3 class="center">{{ message }}</h3>
            {% endfor %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
{% endblock content %}