{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
    <body>
    {% include 'nav.html' %}
    <h2>Użytkownik</h2>
    <div class="user-info">Imię: {{ user.first_name }}<br>Nazwisko: {{ user.last_name }}<br>Email: {{ user.email }}
    </div>


    <h2>Przekazane dary:</h2>
    <div class="user-info">Liczba przekazanych worków: {{ number_of_bags }}</div>
    <div class="user-info">Szczegóły darownizn:</div>
        <table class='user-info-table'>
            <tr>
                <th>Worki: </th>
                <th>Instytytucja: </th>
                <th>Kategorie: </th>
                <th>Odbior: </th>
            </tr>
        {% for donation in donations %}
            <tr>
                <td>{{ donation.quantity }}</td>
                <td>{{ donation.institution.name }}
                <td>{% for category in donation.category.all %}
                {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
            {% load tz %} 
                {% if donation.pick_up_date < today %}<td>Był: {{ donation.pick_up_date }}</td>{% endif %}
            {% if donation.pick_up_date >= today %}<td>Będzie: {{ donation.pick_up_date }}</td>{% endif %}
            </tr>
            {% endfor %}
        </table>
        
        
        
    
    </body>

{% endblock content %}
