{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
    <body>
    {% include 'nav.html' %}
    <h2>Użytkownik</h2>
    <div class="user-info">Imię: {{ user.first_name }}<br>Nazwisko: {{ user.last_name }}<br>Email: {{ user.email }}
    </div>


    <h2>Przekazane dary:</h2>
    <div class="user-info">Liczba przekazanych worków: {{ number_of_bags }}</div>
        
        <ul class='user-info'>Szczegóły darownizn
            {% for donation in donations %}
            <li>
                Worki: {{ donation.quantity }}
                Instytytucja: {{ donation.institution.name }}
                Kategorie: {% for category in donation.category.all %}
                {{ category.name }}
                {% endfor %}
                Odbior: {{ donation.pick_up_date }}
            </li>
            {% endfor %}
        </ul>
        
        
        
    
    </body>

{% endblock content %}
